{% extends 'base.html' %} {% load static %} {% block title %}Map{% endblock %}
{% block content %}

<div id="map" class="map">
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div class="IdentifyNav">
      <button id="idLeft" onclick="identify_left()"><i class="icofont-bubble-left"></i></button>  
      <button id="idRight" onclick="identify_right()"><i class="icofont-bubble-right"></i></button>
    </div>
    <div id="popup-content"></div>
  </div>
  <ul class="toolBar">
    <li class="menuItem" id="layerListCTA" onclick="showContent('layerList');pointOnMap(false);">
      <i class="icofont-layers"></i><br />
      Layer List
    </li>
    <li class="menuItem" id="addLayerCTA" onclick="showContent('addLayer');pointOnMap(false);">
      <i class="icofont-ui-add"></i><br />
      Add Layer
    </li>
    <li
      class="menuItem"
      id="queryBuilderCTA"
      onclick="showContent('queryBuilder');pointOnMap(false);"
    >
      <i class="icofont-ui-settings"></i><br />
      Query Builder
    </li>
    <li
      class="menuItem"
      id="measurementCTA"
      onclick="showContent('measurement');pointOnMap(false);"
    >
      <i class="icofont-ruler-pencil"></i><br />
      Measurement
    </li>
    <!-- <li
      class="menuItem"
      id="weatherCTA"
      onclick="showContent('weather');pointOnMap(true);"
    >
      <i class="icofont-ui-weather"></i><br />
      Weather
    </li> -->
  </ul>
  <div class="navContent">
    <span id="closeNavContent">
      <i class="icofont-close-line-circled"></i>
    </span>
    {%include "components/layerList.html"%} 
    {%include "components/addLayer.html"%} 
    {%include "components/queryBuilder.html"%} 
    {%include "components/measurement.html"%}
    {%include "components/weather.html"%}
  </div>
  <ul class="onMapBtns">
    <li onclick="startIdentification()" id="identify"><i class="icofont-info"></i></li>
  </ul>
</div>

<div
  class="modal fade"
  id="overallSummary"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="overallSummaryLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="overallSummary">Overall Summary</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

 
</div>

{% endblock %}
